table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
table.sortable thead {
    background-color:#eee;
    color:#262626;
    font-weight: bold;
    cursor: pointer;
}