{{ "<!-- APTLUXO Modal -->" | safeHTML }}
{{ with .Site.Data.quartos.aptluxo}}
<div class="apt-modal modal fade" id="quarto-{{ .modalID }}" tabindex="-1" role="dialog">
  <div class="modal-content" tabindex="0">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
	  <div class="modal-body">
	    <h2>{{ .title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ .img }}" class="img-responsive lazyload centered" alt="">
	   {{with .description}} <p>{{ . | markdownify }}</p>{{end}}
	    <div class="row no-gutter">
	      <div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2">
		<table   class="table table-bordered" cellspacing="0" width="100%">
		  <thead>
		    <tr>
		      <th class="text-left">Período</th>
		      <th class="text-left">Pernoite</th>
		      <th class="text-left">Adicional</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .periodo)  " "  "&nbsp;" | markdownify}}</td>
		      <td  class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .pernoite)  " "  "&nbsp;" | markdownify}}</td>
		      <td class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .adicional)  " "  "&nbsp;" | markdownify}}</td>
		    </tr>
		  </tbody>
		</table>
	      </div>
	      
	      {{ range $element:= $.Site.Data.aptluxo }}
	      {{if ( $element.img)}}
	      <div class="col-lg-6 col-sm-6">
		<a href="#quarto-{{ .modalID }}" class="portfolio-box portfolio-link" data-toggle="modal" onclick="appendHash('quarto-{{ .modalID }}');return false;" >
		  <div class="aspect-ratio-image">
		    <div class="cropped-image">
		      <img data-src="img/portfolio/{{ .img }}" class="img-responsive img-resized lazyload" alt="">
                    </div>
		  </div>
		  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
		      <div class="project-name">
                        {{ $element.title }}
		      </div>
                    </div>
                  </div>
                </a>
	      </div>
	      {{end}}
	      {{ end }}
	    </div>	      
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttonText }}{{.}}{{ end }}</button>
            
          </div>
	</div>
      </div>
    </div>
  </div>
</div> 
<!-- Button trigger modal -->
{{ end }}
