{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.quartos }}
{{if ( .img)}}
<div class="portfolio-modal modal fade" id="quarto-{{ .modalID }}" tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
	  <div class="modal-body">
	    <h2>{{ .title }}</h2>
            <hr class="star-primary">
	    <div class="gallery-photo">
	      <a href="img/portfolio/{{ .img }}" class="image">
                <img src="img/portfolio/{{ .img }}" class="img-responsive lazyload" alt="">
	      </a>
	      <p>{{ .description | markdownify }}</p>
	      <div class="row no-gutter">
		<div class="col-lg-10 col-lg-offset-1 col-sm-6">
		  <table  class="table table-bordered" cellspacing="0" width="100%">
		    <thead>
		      <tr>
			<th class="text-left">Período</th>
			<th class="text-left">Pernoite</th>
			<th class="text-left">Adicional</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
			<td class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .periodo)  " "  "&nbsp;" | markdownify}}</td>
			<td  class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .pernoite)  " "  "&nbsp;" | markdownify}}</td>
			<td class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .adicional)  " "  "&nbsp;" | markdownify}}</td>
		      </tr>
		      
		      
		    </tbody>
		  </table>
		</div>
	      </div>
              <!-- <ul class="list-inline item-details">
                   <li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}{{ end }}:
                     <strong><a href="{{ .clientLink }}">{{ .client }}</a>
                     </strong>
                   </li>
                   <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}{{ end }}:
                     <strong><a href="#">{{ .date }}</a>
                     </strong>
                   </li>
                   <li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}{{ end }}:
                     <strong><a href="#">{{ .category }}</a>
                     </strong>
                   </li>
              </ul>-->
	      {{ partial "gallery.html" .}}              
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttonText }}{{.}}{{ end }}</button>
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>
</div> 
<!-- Button trigger modal -->
{{ end }}
{{ end }}
