
<section class="no-padding bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.quartos }}
	    {{if ( .img)}}
            <div class="col-lg-4 col-sm-6">
                <a href="#quarto-{{ .modalID }}" class="portfolio-box portfolio-link" data-toggle="modal">
		  <div class="aspect-ratio-image">
		    <div class="cropped-image">
                      <img src="img/portfolio/thumb/{{ .img }}" data-src="img/portfolio/{{ .img }}" class="img-responsive img-resized lazyload blur-up" alt="">
                    </div>
		  </div>
		  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
		      <!--                            <div class="project-category text-faded">
						      {{ .category }}
						      </div>
		      -->
		      <div class="project-name">
                        {{ .title }}
                      </div>
                    </div>
                  </div>
                </a>
            </div>
	    {{end}}
            {{ end }}
        </div>
	 <hr class="light">
    </div>
</section>
