{{$global := .global}}
{{with .quarto}}
<div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2">
  <table  class="table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
	<th class="text-left"> <span class=" tooltiped tooltip-nw" title="{{ $global.Site.Params.tooltips.periodo | markdownify}}">Período </span> </th>
	<th class="text-left"> <span class=" tooltiped tooltip-n" title="{{ $global.Site.Params.tooltips.pernoite | markdownify}}"> Pernoite </span></th>
	<th class="text-left"> <span class=" tooltiped tooltip-ne" title="{{ $global.Site.Params.tooltips.adicional | markdownify}}">Adicional </span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .periodo)  " "  "&nbsp;" | markdownify}}</td>
	<td  class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .pernoite)  " "  "&nbsp;" | markdownify}}</td>
	<td class="text-right preco-font"><span>R$</span> {{ replace (printf "%6v" .adicional)  " "  "&nbsp;" | markdownify}}</td>
      </tr>      
    </tbody>
  </table>
</div>
{{end}}
